tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.tool__action {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    margin-right: 22px;
    color: inherit;

    &:last-child {
      margin-right: 0;
    }

    label {
      margin-right: 8px;
    }

    &.action__check label {
      margin-left: 22px;
    }

    input[type="checkbox"] {
      margin-right: 4px;
    }

    i {
      color: $primary;
      margin-right: 4px;
    }

    a {
      color: inherit;

      i,
      &:hover {
        color: $primary;
      }
    }

    &a:hover {
      color: $primary;
    }
  }
}

.tool__fillter__container {
  position: relative;
  display: inline-block;

  input {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding-right: 30px;
    height: 32px;
    line-height: 32px;
  }

  button {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0;
    color: $gray-600;
  }
}

.img-small {
  width: 30px;
  height: 30px;
  overflow: hidden;

  img {
    height: 30px;
  }

  &.is--circle {
    border-radius: 100%;
  }
}

th.img-small {
  width: calc(30px + 1rem);
}

.row__collapse {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 10px;
    font-size: 0.8rem;
    color: $gray-600;
  }
}

.table__wrapper {
  background-color: #fff;
  border-radius: $border-radius;
}

.table {
  line-height: 1;

  i {
    color: $gray-600;
  }

  a,
  .action {
    i {
      color: $primary;
    }
  }

  .r__action {
    display: flex;
    align-items: center;
    justify-content: center;

    &__delete {
      i {
        color: $danger;
      }
    }
  }

  thead {
    tr,
    tr:hover,
    tr.is--hover {
      background-color: #fff;
    }

    th {
      height: 50px;
      color: $heading-color;

      &.th-check {
        width: 44px;
      }

      &.th-status {
        width: 100px;
      }
    }
  }

  .table-head i {
    float: right;
  }

  tr {
    &:hover,
    &.is--hover {
      background-color: #f7f9fe;
    }

    &.row-child {
      vertical-align: top;
    }

    &.row-child,
    &.row-child:hover,
    &.row-child.is--hover {
      background-color: #fff;
    }

    &.is--expanded {
      .row__collapse {
        &__icon,
        &__icon i {
          color: $primary;
        }
      }

      &.is--hover {
        &.row-parent {
          border: 1px solid $primary;
          border-top-width: 2px;
          border-bottom: 0;

          td {
            border-width: 0;
          }
        }

        &.row-child {
          border: 1px solid $primary;
          border-top: 0;

          td {
            border-color: $primary;
            border-width: 0;
            border-bottom-width: 1px;
          }
        }
      }
    }
  }
}

// .card-table {
//   tr {
//     td,
//     th {
//       &:first-child {
//         padding-left: 1.25rem;
//       }
//     }
//   }
// }

.table-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10px;
}

.pagination {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;

  .page-link {
      padding: 0.25rem;
      min-width: 1.75rem;
      color: $body-color;
      background-color: transparent;
      border: 0 solid #cbd5e1;

      &:not(:first-child) {
          .page-link {
              margin-left: 0;
          }
      }
  }

  // .page-link,
  // .page-item:first-child .page-link,
  // .page-item:last-child .page-link {
  //     border-radius: 0;
  // }

  .page-item {
    text-align: center;

    &.next,
    &.previous {
      .page-link {
        padding: 0.25rem 1rem
      }
    }

    &.disabled .page-link,
    .page-link:disabled {
      // color: rgba(98,105,118,.5);
      pointer-events: none;
      // background-color: transparent;
      // border-color: #cbd5e1;
    }

    &.prev,
    &.next {
      .page-link {
        color: $white;
        background: $gray-500;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin: 0 0.5rem;
      }
    }

    &.active .page-link,
    &.prev:hover .page-link:not([disabled]),
    &.next:hover .page-link:not([disabled]) {
      color: $white;
      background-color: $primary;
    }
  }
}

// div.dataTables_wrapper div.dataTables_paginate ul.pagination {
//     padding: 0.4em 0;
// }

// table.dataTable thead .sorting:before,
// table.dataTable thead .sorting_asc:before,
// table.dataTable thead .sorting_desc:before,
// table.dataTable thead .sorting_asc_disabled:before,
// table.dataTable thead .sorting_desc_disabled:before,
// table.dataTable thead .sorting:after,
// table.dataTable thead .sorting_asc:after,
// table.dataTable thead .sorting_desc:after,
// table.dataTable thead .sorting_asc_disabled:after,
// table.dataTable thead .sorting_desc_disabled:after {
//     display: inline-block;
//     font-family: "bootstrap-icons" !important;
//     font-style: normal;
//     font-weight: normal !important;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     vertical-align: -0.125em;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// table.dataTable thead .sorting:before,
// table.dataTable thead .sorting_asc:before,
// table.dataTable thead .sorting_desc:before,
// table.dataTable thead .sorting_asc_disabled:before,
// table.dataTable thead .sorting_desc_disabled:before {
//     top: auto;
//     bottom: 16px;
//     right: 0.5em;
//     content: "\F286" !important;
// }

// table.dataTable thead .sorting:after,
// table.dataTable thead .sorting_asc:after,
// table.dataTable thead .sorting_desc:after,
// table.dataTable thead .sorting_asc_disabled:after,
// table.dataTable thead .sorting_desc_disabled:after {
//     right: 0.5em;
//     content: "\F282" !important;
// }
